* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}
.header_title {
  font-size: 24px;
}
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
}
.nav-list__link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.nav-list__link-active {
  color: orange;
}
.main {
  padding: 40px;
}
.about-title,
.profile-title {
  font-size: 40px;
  padding: 5px 0;
}
.about-text {
  margin-bottom: 20px;
}
.project-card {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px solid gray;
  margin-bottom: 20px;
  padding: 20px;
}
.project-image {
  width: 100px;
  max-width: 400px;
}
.project-title {
  font-size: 18px;
}

.project-button {
  background-color: #333;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}
.contact-form {
  margin-top: 20px;
}
.contant-label {
  display: block;
  margin: 5px 0;
  font-weight: bold;
}
.contant-input,
.contact-teaxt-area {
  resize: none;
  width: 100%;
  max-width: 500px;
  border: 1px solid gray;
  padding: 10px;
}

.contact-submit {
  background-color: #0d0d0d;
  color: white;
  padding: 10px 20px;
  border: none;
}
.footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .project-card {
    flex-direction: column;
  }
}
